<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="1.10.0" targetFramework="net40-Client" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net40-Client" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net40-Client" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net40-Client" />
</packages>